body {
  font-family: $font-family-sans-serif;
  background-color: $white;
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-sans-serif;
  font-weight: bold;
  color: $red;
}

h1 {
  font-size: 104px;
  font-weight: 700;
  line-height: 50px;
  color: $red;
}

h2 {
  font-size: 35px;
  line-height: 40px;
}

h3 {
  font-size: 29px;
  line-height: 32px;
}

h4 {
  font-size: 18px;
}

.button, .btn {
  font-family: $font-family-sans-serif;
}

p {
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
  text-align: left;
}

@media (max-width: 767px) {
  p {
    font-size: 14px;
  line-height: 22px;
  }
}

@media (max-width: 1200px) {
  body {
    padding-top: 50px;
  }
}

.underline {
  text-decoration: underline;
}

.align-center {
  text-align: center;
}

.post p a,
.page p a,
.post table a,
.page table a,
.registration-banner a {
  text-decoration: underline;
}

a:link {
  color: $red;
}

a:visited {
  color: $red;
}

a:hover {
  color: $red;
}

a:active {
  color: $red;
}

.display-inline {
  display: inline;
}

.float-left {
  float: left;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.border-none {
  border: none;
}

.balk {
  padding: 30px;
  margin-bottom: 62px;
  font-size: 16px;
}

.bg-dark-blue {
  background-color: $dark-blue;
}

.bg-red {
  background-color: $red;
}

.bg-orange {
  background-color: $orange;
}

.bg-white {
  background-color: $white;
}

.bg-yellow {
  background-color: $yellow;
}

.yellow-txt {
  color: $yellow;
}

.white-txt {
  color: $white;
}

.black-txt {
  color: $black;
}

.idee-text {
  display: inline-block;
  font-size: 30px;
}

.arrow-idee {
  display: inline-block;
  width: 180px;
}

@media (max-width: 767px) {
  .idee-text {
    display: inline-block;
    font-size: 20px;
  }

  .arrow-idee {
    display: block !important;
    width: 90px;
  }
}

.idee {
  display: inline-block;
  width: 400px;
}

.idee-margin {
  padding: 20px 30px;
}

.arrow-btns {
  text-align: center;
}

.arrow-btn-border {
  border: 2px white solid;
  font-size: 30px;
}

.arrow-btn {
  display: inline-block;
  margin: 10px;
  padding: 10px 15px;
  border-radius: 11px;
  color: $white;
  font-size: 18px;
  font-family: $font-family-source-sans;
}

.arrow {
  display: inline;
  width: 90px;
}

@media (max-width: 767px) {
  .arrow {
    display: block;
  }
}

.news-data-arrow {
  width: 170px;
}

.post-arrow {
  display: inline-block;
  padding: 5px;
  width: 80px;
}

.news-bottom-red {
  background: url("../images/app-challenge-bg-img-red.svg") no-repeat fixed center;
  background-color: $dark-blue;
}

.news-bottom-orange {
  background: url("../images/app-challenge-bg-img-orange.svg") no-repeat fixed center;
  background-color: $dark-blue;
}

.font-weight-normal {
  font-weight: normal;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    height: 0;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
